.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contenedor-login{
  
  width: 100%;
  height: 652.5px;
  top: 10%;

  
 
  background-image: url("https://c0.wallpaperflare.com/preview/394/832/981/ushuaia-patagonia-argentina-water.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  
  background-position-x: center;
  background-position-y: center ;
  position: absolute;

  
}


.contenedor-recomendaciones {
  
  width: 100%;
  height: 1305px;
  top: 10%;
  
 
  background-image: url("https://c0.wallpaperflare.com/preview/394/832/981/ushuaia-patagonia-argentina-water.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  
  background-position-x: center;
  background-position-y: center ;
  position: absolute;

  
}



.transparencia{
  width: 100%;
  height: 737px;

 
  
  background: rgba(0, 0, 0, 0.3);
  
  } 


.slider{

width: 1020px;
height: 375px;
position:relative;
top : 25%; 
margin-left: auto;
margin-right: auto;


} 

.mar-del-plata{
  width: 252.2px;
  height: 360px;
  position:absolute;
  left: 0%;
  background-color: black;
  border-radius: .5em;
  border: 10px solid black;
  
 } 
h7{
  color: white;
  top: 10%;
  font-style: normal;
font-style: italic;
font-style: oblique;
 }



 h8{
  font-weight: bold;
  font-size: larger;
  font-style: normal;
  font-style: italic;
  font-style: oblique;
  color: white;

 }



  .card--image-mar-del{
    width: 252.2px;
  height: 285px;
  position:absolute;
  left: 0%;
  top: 22%;
 
 }


  
  .bariloche{
    width: 252.2px;
    height: 360px;
    position:absolute;
    left: 25%;
    background-color: black;
    border-radius: .5em;
    border: 10px solid black;
   } 

   .card-bariloche{
  width: 252.2px;
  height: 285px;
  position:absolute;
  left: 0%;
  top: 22%;
 
  }

  .cordoba{
    width: 252.2px;
    height: 360px;
    position:absolute;
    left: 50%;
    background-color: black;
    border-radius: .5em;
    border: 10px solid black;
   } 

   .card-cordoba{
    width: 252.2px;
  height: 285px;
  position:absolute;
  left: 0%;
  top: 22%;
 
  }

  .san-martin-de-los-andes{
    width: 252.2px;
    height: 360px;
    position:absolute;
    left: 75%;
    background-color: black;
    border-radius: .5em;
    border: 10px solid black;
   } 

   .card-san-martin-los-andes{
    width: 252.2px;
  height: 285px;
  position:absolute;
  left: 0%;
  top: 22%;
 
 
  }

  .move{
    width: 600px;
    height: 25px;
    position:absolute;
    left: 32%;
    top: 10%;
    

  }

 

  .stack-recomendations{
    left: 0%;
    width: 100%;
   
  }

  .cards-recomendations{
    background-color: black;
  }

  .ultimas-visitas{
   
    width: 100%;
    height: 430px;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position-x: center;
    background-position-y: center ;
    position: relative;
  
    
   
    
  
    

  }

 