.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contenedor-recomendaciones {
  
  width: 1536px;
  height: 737px;
  z-index: -3;
 
  background-image: url("https://c0.wallpaperflare.com/preview/394/832/981/ushuaia-patagonia-argentina-water.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  background-position-x: center;
  background-position-y: center ;
  position: relative;

  
}

.transparencia{
  width: 1536px;
  height: 737px;
  z-index: -2;
  background: rgba(169, 192, 169, 0.3)
  } 


.slider{
z-index: 0;
background-color: white;
width: 1010px;
height: 360px;
position:relative;
top : 25%; left : 17.5%;

} 

.mar-del-plata{
  width: 252.2px;
  height: 360px;
  position:absolute;
  left: 0%;
  background-color: black;
 
 
  
  } 

  .card--image-mar-del{
    width: 252.2px;
  height: 360px;
  position:absolute;
  left: 0%;
 
  }
  
  .bariloche{
    width: 252.2px;
    height: 360px;
    position:absolute;
    left: 25%;
    background-color: black;
   } 

   .card-bariloche{
  width: 252.2px;
  height: 360px;
  position:absolute;
  left: 0%;
 
  }

  .cordoba{
    width: 252.2px;
    height: 360px;
    position:absolute;
    left: 50%;
    background-color: black;
   } 

   .card-cordoba{
    width: 252.2px;
  height: 360px;
  position:absolute;
  left: 0%;
 
  }

  .san-martin-de-los-andes{
    width: 252.2px;
    height: 360px;
    position:absolute;
    left: 75%;
    background-color: black;
   } 

   .card-san-martin-los-andes{
    width: 252.2px;
  height: 360px;
  position:absolute;
  left: 0%;
 
  }